[Configuration]
Verbose=True
LibraryPath=/path/to/Calibre/Library
AddStoriesNotInCalibre=False
Quiet=False

[IMAP]
Server=imap.gmail.com
Email=username@gmail.com
Password=imap_password_here
Folder=Fanfiction
MarkUpdatesAsRead=True