import configparser

class Plugin(object):
    def __init__(self, config: configparser.ConfigParser):
        self.config = config
    

    def post_add_hook(self, metadata_list: list):
        for story in metadata_list:
            print(f"Old metadata: {story[0]}")
            print(f"New metadata: {story[1]}")
